@mbp: 992px;

@media (min-width: 768px) {
    @w: 300px;
    
    .container {
        width: 750px;
    }
  
    .container-padding1 {
        padding-right: @w;
    }
  
    #sideblocks {
        width: @w;
        
        .side-button a .holder {
            width: @w - @iw;
        }
    }
}

@media (min-width: 992px) {
    @w: 300px;
    
    .container {
        width: 970px;
    }
    
    .container-padding1 {
        padding-right: @w;
    }
  
    #sideblocks {
        width: @w;
        
        .side-button a .holder {
            width: @w - @iw;
        }
    }
}

@media (min-width: 1200px) {
    @w: 300px;
  
    .container {
        width: 1170px;
    }
  
    .container-padding1 {
        padding-right: @w;
    }
  
    #sideblocks {
        width: @w;
        
        .side-button a .holder {
            width: @w - @iw;
        }
    }
}

.col(@n) {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    
    width: 100% / 12 * @n;
}