#navbar {
    margin-top: 0;
    background: fade(@nazk-yellow, 75%);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 40px 0px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow:    0px 40px 0px 0px rgba(0, 0, 0, 0.03);
    box-shadow:         0px 40px 0px 0px rgba(0, 0, 0, 0.03);
    
    li {
        a {
            .f("n");
            font-size: 18px;
            color: black;
            
            &.active {
                .f("b");
                color: black;
                text-decoration: none;
                background: none;
            }
        }
    }
}