.pre-header {
    @media (min-width: 992px) {
        height: @pre-header-height;
    }
    
    > .container {
        text-align: center;
    }
    
    .gerb {
        margin-top: 35px;
    }
    
    .search-block {
        @media (max-width: 991px) {
            clear: both;
        }
    }
}

#navbar {
    margin-top: 0;
    background: fade(@nazk-yellow, 85%);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 40px 0px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow:    0px 40px 0px 0px rgba(0, 0, 0, 0.03);
    box-shadow:         0px 40px 0px 0px rgba(0, 0, 0, 0.03);
    
    .dropdown-menu {
        li {
            a {
                padding: 10px 20px;
                font-size: 12px;
            }
        }
    }
    
    .dropdown-submenu > .dropdown-menu {
        background: fade(@nazk-yellow, 85%);
    }
    
    li {
        a {
            .f("n");
            font-size: 14px;
            color: black;
            padding: 15px;
            border: none;
            
            &.active {
                .f("b");
                color: black;
                text-decoration: none;
                background: none;
            }
        }
    }
    
    .navbar-nav > .open > a, 
    .navbar-nav > .open > a:hover, 
    .navbar-nav > .open > a:focus {
        background: @nazk-blue;
        color: white;
        
        & + .dropdown-menu {
            background: rgba(235, 195, 8, 0.85);
            border: none;
            border-radius: 0px;
            
            a {
                color: black;
                padding: 10px 20px;
                
                &:hover {
                    background: rgba(235, 195, 8, 1);
                }
            }
        }
    }
    
    .navbar-toggle {
        border: white;
        
        .icon-bar {
            background: white;
        }
        
        &:hover {
            background: @nazk-blue;
        }
    }
    
    .menu.navbar-nav .last.dropdown .dropdown-menu {
         a {
             white-space: normal;
         }
    }
    
    .language-switcher-locale-url {
        margin-left: 0;
        padding-left: 0;
        
        li {
            margin-left: 0;
            padding-left: 0;
            margin-right: 15px;
        }
        
        a {
            padding: 0;
        }
    }
}
