.page-node {
    @img-padding: 670px;
    
    .node-news-intro {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: @img-padding;
            
        .node-cover {
            width: 100%;
            height: @img-padding;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.3;
        }
    }
    
    .main-container {
        margin-top: @img-padding;
    }
}