.node-news-intro {
    .logo {
        margin-top: 35px;
        
        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }
    
    .social-links {
        margin-top: 10px;
        clear: both;
        float: none !important;
        text-align: left;
        margin-bottom: 20px;
        
        @media (min-width: @mbp) {
            clear: right;
            float: right !important;
            margin-bottom: 0;
        }
        
        a {
            font-size: 16px;
            color: white;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: @nazk-blue;
            margin-left: 10px;
            text-align: center;
            line-height: 30px;
            transform: scale(1,1);
            transition: all ease-in-out 0.1s;
            
            &:hover {
                transform: scale(1.2,1.2);
                background: @nazk-yellow;
            }
        }
    }
    
    .lang-switch {
        clear: both;
        text-align: left;
        
        .ofsite {
            font-size: 13px;
            text-transform: uppercase;
            line-height: 32px;
        }
        
        @media (min-width: @mbp) {
            float: right;
            clear: right;
            margin-top: 30px;
            
            .ofsite {
                float: left;
                
                img {
                    margin-right: 10px;
                }
            }
            
            ul {
                float: right;
            }
        }
        
        li {
            display: inline;
            margin-left: 15px;
            list-style: none;
            
            a,
            span {
                color: black;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
    
    .field-name-body {
        .f("m");
        font-style: italic;
        font-size: 18px;
        
        &:after {
            .line();
        }
    }
    
    .submitted {
        .f("b");
        font-style: normal;
        color: black;
    }
    
    .node-cover {
        opacity: 0.3;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;  
    }
}

.node-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.page-node.node-type-newspage {
    .node-news-intro {
        width: 100%;
        
        @media (min-width: 1200px) {
            height: @cover-img-padding;
        }
            
        .node-cover {
            height: @cover-img-padding;  
        }
    }
    
    .main-container {
        margin-top: @gap * 2;  
    }
}

.page-node.node-type-basicpage {
    .node-news-intro {      
        .node-cover {
            background-image: url(../images/page_bg.jpg);
            height: @page-cover-img-padding;  
            background-position: center center;
            background-size: cover;
        }
        
        h1.page-title {
            font-size: 72px;
        }
        
        .field-name-body:after {
            .line(2);
        }
    }
    
    &.front {
        .node-news-intro .node-cover {
            background-image: url(../images/front.jpg);
            background-position: center center;
            background-size: cover;
        }
    }
}

.page-news {
    .node-news-intro {
        width: 100%;
        
        @media (min-width: 992px) {
            height: @cover-img-padding;
        }
            
        .node-cover {
            height: @cover-img-padding;  
        }
    }
    
    .main-container {
        margin-top: @gap * 4;  
    }
    
    .submitted {
        margin-right: 100px;
    }
}

.page-node.node-type-teammember {
    .field-name-field-photo {
        float: left;
        margin-right: 90px;
    }
    
    h1 {
        display: none;
    }
    
    .topblock {
        overflow: hidden;
        margin-top: 80px;
    }
    
    .content {
        clear: both;
        margin-top: 40px;
        
        p {
            margin-bottom: 0;
        }
    }
    
    .h2,
    .field-name-field-position {
        margin-top: 40px;
    }
    
    h2 {
        .f("n");
        font-size: 50px;
        text-transform: none;
    }
    
    .field-name-field-position {
        font-style: italic;
        font-size: 30px;
        
        &:after {
            .line(2);
            margin-left: 340px;
        }
    }
}

.page-node-36 {
    h1,
    #sideblocks,
    #social-share,
    .first-one {
        display: none;
    }
    
    .main-container.container {
        width: 100%;
        padding: 0;
        
        .container-padding {
            &,
            .row,
            .col-sm-12 {
                padding: 0 !important;
                margin: 0 !important;
            }
        }
        
        /*.region-content {
            height: 100%;
            background-image: url(../images/team.jpg);
            background-size: cover;
            min-height: 800px;
            background-position: center center;
        }*/
    }
}

.front {
    h1,
    .content  {
        display: none;
    }

    .node-news-intro .node-cover {
        opacity: 1;
    }
    
    #frontquoute {
        background: @nazk-yellow;
        width: 100%;
        
        @media (min-width: 1200px) {
            position: absolute;
            left: 0;
            margin-top: -100px;
            width: 300px;
        }
        
        .field-name-body {
            padding: 60px 40px;
            
            p {
                text-align: left;
                color: black;
                .f("l");
                font-size: 18px;
                font-style: normal;
                position: relative;
                
                &:before,
                &:after {
                    content: '"';
                    position: absolute;
                    display: block;
                    font-size: 120px;
                    color: white;
                    opacity: 0.5;
                    font-family: 'Roboto', sans-serif;
                    .f("l");
                }
                
                &:before {
                    transform: rotate(180deg);
                    left: -10px;
                    top: -60px;
                }
                
                &:after {
                    right: 0;
                    margin-top: 20px;
                }
            }
            
            &:after {
                display: none;
            }
        }
    }
    
    #social-share {
        &:before {
            display: none;
        }
    }
    
    #sideblocks {
        position: static;
        width: 100% !important;
        display: table;
        margin-top: 80px;
        
        @media (min-width: 1200px) {
            .sblock-group,
            .side-buttons-group {
                display: table-cell;
                width: 50%;
                vertical-align: middle;
            }
        }
        
        .sblock-group {
            @media (min-width: 1200px) {
                padding-right: 80px;
            }
            
            .sblock {
                margin-top: 20px;
                margin-bottom: 20px; 
            }
        }
        
        .side-buttons-group {
            @media (min-width: 1200px) {
                padding-left: 80px;
            }
            
            .side-button {
                margin-top: 20px;
                margin-bottom: 20px; 
            }
        }
    }
    
    .container-padding {
        padding-right: 0 !important;
    }
    
    #block-system-main {
        display: none;
    }
}

.page-node-76,
.page-node-77 {
    .container-padding .page-teaser {
        display: none;
    }
    
    iframe {
        margin-bottom: 120px;
    }
    
    .tel {
        font-size: 60px;
        line-height: 120%;
        margin-bottom: 80px;
        
        a {
            display: block;
            color: black;
        }
            
        &:after {
            .line(3);
        }
    }
    
    .adress {
         margin-bottom: 80px;
         
         p {
             margin-bottom: 20px;
         }
         
         &:after {
            .line(3);
        }
    }
    
    .email {
        a {
            display: block;
            color: black;
        }
    }
    
    #social-share {
        margin-top: 80px;
        
        &:before {
            display: none;
        }
    }
}

.view-search {
    margin-top: 20px;
    
    .views-row {
        padding: 20px 40px;
        background: white;
        margin-bottom: 40px;
        
        h2 {
            margin-bottom: 40px;
        }
        
        .field-name-field-main-pic {
            float: left;
            margin: 0 40px 20px 0;
        }
        
    }
}