#sideblocks {
    position: absolute;
    right: 0;
    top: 300px;
    
    @media (max-width: 991px) {
        position: static;
        width: 100%;
    }
    
    .sblock {
        .box-shadow();
        background: white;
        opacity: 0.7;
        padding: 20px 30px;
        margin-bottom: 10px;
        position: relative;
        transition: all ease-in-out 0.2s;
        right: 0;
        
        &:hover {
            right: 10px; 
        }
        
        p {
            .f("n");
            text-align: center;
            .font-size(18);
            
            a, 
            a:focus,
            a:hover {
                color: @text;
                text-decoration: none;
            }
        }
    }
    
    .side-button {
        @h: 110px;
        margin-bottom: 5px;
        
        a {
            background: @nazk-blue;
            display: block;
            height: @h;
            font-size: 0;
            line-height: 0;
            position: relative;
            transition: all ease-in-out 0.2s;
            right: 0;
            text-align: left;
            
            @media (min-width: 768px) {
                text-align: center;
            }
            
            &:hover {
                right: 10px; 
            }
            
            i,
            .holder { 
                text-align: center;
                display: inline-block;
                height: @h;
            }
            
            i {
                background: #f8e64e;
                color: #2c2822;
                .font-size(30);
                width: 70px;
                height: @h;
                padding: 40px 25px;
                float: left;
            }
            
            .holder {
                padding: 0 25px;
                color: white;
                .font-size(22);
                .f("n");
                height: @h;
                box-sizing: border-box;
                line-height: 136%;
                vertical-align: top;
                position: relative;
                margin-left: 20px;
                
                @media (min-width: 768px) {
                    margin-left: 0;
                }
                
                .text-copy {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

#social-share:before {
    .line(2);
}

#block-views-news-block-1,
#block-views-news-block-3 {
    margin-bottom: 80px;
    
    .col:first-child {
        padding-right: 40px;
        margin-bottom: 40px;
    }
    
    .col:last-child {
        padding-left: 40px;
    }
    
    .col {
        position: relative;
        
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .views-field-nothing {
        padding: 30px 0 0 0;
        
        .field_title {
            margin-bottom: 10px;
            
            a {
                color: black;
                .font-size(24);
            }
        }
        
        .field_created {
            .font-size(12);
            margin-bottom: 10px;
        }
        
        .field_link {
            a {
                color: black;
                
                span {
                    text-decoration: underline;
                }
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.front #block-views-news-block-3 {
    @media (min-width: 1200px) {
        margin-top: -68px;
    }
    
    h2 {
        margin: 0 auto;
        text-align: center;
        
        @media (min-width: 1200px) {
            display: block;
            background: url(../images/folder.png) no-repeat center center;
            width: 468px;
            padding: 20px 50px;
            margin-bottom: 80px;
        }
    }
}

.view-news #views-bootstrap-media-1,
.view-team #views-bootstrap-media-1 {
    @p: 50px;
    
    .media {
        padding-bottom: @p;
        margin-bottom: @p;
        
        &:after {
            content: '';
            width: 50%;
            height: 1px;
            display: block;
            background: @nazk-blue;
            margin-top: @p;
        }
        
        &:last-child {
            &:after {
                display: none;
            }
        }
        
        a {
            color: black;
        }
        
        .pull-left {
            padding-right: 60px;
            max-width: 400px;
        }
        
        .media-heading {
            .font-size(36);
        }
        
        .field_created {
            .font-size(12);
            padding: 10px 0;
        }
        
        .field_body {
            .font-size(16);
            line-height: normal;
            margin-bottom: 20px;
        }
        
        .field_link {
            .font-size(18);
            text-align: right;
            
            span {
                text-decoration: underline;
            }
        }
    }
}

.view-team #views-bootstrap-media-1 {
    .field-position {
        padding: 20px 0;
    }
}


#block-block-2 {
    .modal {
        text-align: center;
        padding: 0!important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .modal {
        .modal-dialog {
            .modal-content {
                background-image: url(../images/popup.png);
                background-size: cover;
                min-height: 400px;
                border-bottom: @nazk-yellow 6px solid;
                
                .modal-header {
                    border: none;
                }
                
                .modal-body {
                    padding: 28px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    transform: translateY(-50%);
                    
                    p {
                        color: white;
                        line-height: normal;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#block-views-news-block-4 {
    .views-field-title {
        padding: 20px 0 10px;
        
         a {
             color: black;
         }
    }
    
    .field_created {
        .font-size(12);
        margin-bottom: 10px;
    }
    
    .field_body {
        .font-size(17);
        line-height: normal;
        
        .rtejustify {
            text-align: left;
        }
    }
    
    .field_created {
        a {
            color: black;
            text-decoration: underline;
        }
    }
}

.footer_wrap {
    background: #e9ebeb;
    border-bottom: @nazk-yellow 60px solid;
    
    .footer {
        border: none;
    }
    
    #block-system-main-menu {
        a {
            .font-size(12);
            color: black;
            white-space: normal;
            padding-left: 0;
            
            .caret {
                display: none;
            }
        }
        
        .dropdown-menu {
            display: block;
            position: static;
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 0;
            min-width: 0;
            width: 100%;
            
            &:after {
                display: none;
            }
            
            > .active > a {
                background: none;
                color: @nazk-blue;
            }
            
            li {
                margin-bottom: 10px;
            }
        }
        
        > ul > li {
            
            > a {
                text-transform: uppercase;
                .font-size(14);
            }
            
            @media (min-width: 768px) {
                .col(6);
            }
            
            @media (min-width: 992px) {
                .col(4);
            }
            
            @media (min-width: 1200px) {
                .col(2);
            }
        }
    }
}

#block-block-4 {
    border-top: #b4b4b4 1px solid;
    margin-top: 40px;
    padding-top: 40px;
    .font-size(16);
    
    ul {
        margin: 0;
        padding: 0;
       
        width: 100%;
        
        li {
            padding-right: 40px;
            text-align: center;
            
             a {
                 color: #303030;
                 text-decoration: none;
                 text-transform: uppercase;
             }
        }
        
        @media (min-width: 768px) {
             display: table;
             
             li {
                 display: table-cell;
             }
        }
    }
}

.pre-header {
    .search-block {
        @media (min-width: 992px) {
            float: right;
            clear: right;
        }
        
        #edit-type-wrapper,
        #edit-created-wrapper,
        #edit-created-1-wrapper,
        #edit-search-api-views-fulltext-wrapper label {
            display: none;
        }
        
        #edit-search-api-views-fulltext-wrapper {
            padding-top: 0;
            
            input {
                @media (min-width: 1200px) {
                    max-width: 210px;
                }
            }
        }
        
        .views-submit-button {
            margin-right: 0;
            padding: 0;
        }
        
        button {
            text-indent: -9999px;
            margin-top: 0 !important;
            height: 34px;
            position: relative;
            background: @nazk-blue url(../images/find.png) no-repeat center center;
            border-color: @nazk-blue;
            
            &:hover {
                color: @nazk-yellow;
            }
        }
    }
}

#block-views-exp-search-page {
    .form-item-created-date label,
    .form-item-created-1-date label,
    .form-item-created-date .help-block,
    .form-item-created-1-date .help-block {
        display: none;
    }
    
    .views-widget-filter-created,
    .views-submit-button {
        clear: left;
    }
    
    .views-widget-filter-created {
        .container-inline-date > .form-item {
            margin-right: 0;
            
            input {
                margin-right: 0;
            }
        }
    }
    
    .views-submit-button {
        padding: 0;
        
        button {
            text-indent: -9999px;
            height: 44px;
            width: 100px;
            position: relative;
            background: @nazk-blue url(../images/find.png) no-repeat center center;
            border-color: @nazk-blue;
            
            &:hover {
                color: @nazk-yellow;
            }
        }
    }
    
}

.webform-component--detali.webform-conditional-hidden ~ .form-actions {
    display: none;
}

#block-block-5,
#block-block-6 {
    @media (min-width: 1200px) {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }
}

#block-block-5 {
    @media (min-width: 1200px) {
        width: 60%;
    }
    
    padding-left: 20px;
    .font-size(14);
    margin-bottom:40px;
    
    img {
        max-width: 25px;
        margin-right: 20px;
    }
}

#block-block-6 {
    @media (max-width: 991px) {
        padding-left: 20px;
        margin-bottom: 20px;
    }
    
    @media (min-width: 992px) {
        text-align: right;
    }
    
    @media (min-width: 1200px) {
        width: 40%
    }
    
    .form-inline .form-control {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    
    label {
        display: block;
        font-weight: 300;
        .font-size(14);
    }
    
    .button {
        height: 34px;
        box-sizing: border-box;
        background-color: @nazk-blue;
        border-color: @nazk-blue;
        color: white;
        font-weight: 300;
        padding: 7px 30px;
        
        &:hover {
            background-color: @nazk-yellow;
            border-color: @nazk-yellow;
            color: black;
        }
    }
}

#block-system-main-menu {
    clear: both;
    
    .nav > li > a:hover, 
    .nav > li > a:focus {
        background: none;
    }
}

#block-block-7,
#block-block-8 {
    border-top: #b4b4b4 1px solid;
    margin-top: 80px;
    padding-top: 40px;
    
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-right: 20px;
                
        a {
            display: block;
            width: 130px;
            height: 150px; 
            .font-size(12);
            color: black;
        }
        
        p a {
            height: auto;
        }
        
        img {    
            max-width:100%;
            max-height:100%;
        }
    }
}

#ui-datepicker-div {
    border: none;
    background: white;
    border-radius: 0;
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.75);
    transition: all ease-in-out 0.5s;
    
    .ui-datepicker-header {
        border: none;
        background: @nazk-blue;
        border-radius: 0;
    }
    
    .ui-state-default, 
    .ui-widget-content .ui-state-default, 
    .ui-widget-header .ui-state-default {
        background: @nazk-light-yellow;
        border: none;
        transition: all ease-in-out 0.3s;
        
        &:hover {
            background: @nazk-blue;
            color: white;
        }
    }
    
    .ui-datepicker-today a {
        background: @nazk-blue;
        color: white;
    }
}

.region-content {
    .flippy {
        position: relative;
        margin: 40px auto 100px !important;
        
        li {
            border-radius: 100%;
            border: @nazk-blue 1px solid;
            display: inline-block !important;
            width: 42px !important;
            height: 42px !important;
            padding: 6px !important;
            left: 0;
            right: auto;
            position: absolute;
            
            &.empty {
                display: none !important;
            }
            
            &.next {
                right: 0;
                left: auto;
                
                .hover-popup:before {
                    content: '\f30f';
                }
            }
        }
        
        .hover-popup {
            text-decoration: none;
            display: block;
            
            span {
                display: none;
            }
            
            &:before {
                content: '\f2ca';
                font-family:"Ionicons"; 
            }
        } 
    }
}

.popover{
    max-width: 600px;
    min-width: 200px;
    
    .popover-title {
        background: @nazk-blue;
        color: white;
    }
}

#switch-theme .standart-theme {
    display: none;
}

.contrast {
    #switch-theme .standart-theme { 
        display: list-item;
    }
    
    #switch-theme .contrast-theme {
        display: none;
    }
}

.content_bottom_wrap {
    @media (max-width: 991px) {
        padding-bottom: 40px;
    }
}