

#sideblocks .side-button a {
    background: black;
    opacity: 1;
}

#sideblocks .side-button a i {
    background-color: white;
}

#navbar,
#navbar .navbar-nav > .open > a + .dropdown-menu, #navbar .navbar-nav > .open > a:hover + .dropdown-menu, #navbar .navbar-nav > .open > a:focus + .dropdown-menu {
    background: black;
}

.front #frontquoute .field-name-body p,
#navbar li a,
#navbar .navbar-nav > .open > a + .dropdown-menu a, #navbar .navbar-nav > .open > a:hover + .dropdown-menu a, #navbar .navbar-nav > .open > a:focus + .dropdown-menu a {
    color: white;
}

.form-control {
    border-color: black;
}


#block-views-news-block-1 .views-field-nothing .field_created, 
#block-views-news-block-3 .views-field-nothing .field_created,
#block-views-news-block-4 .field_created {
    .font-size(20);
}

#block-block-7 li a, #block-block-8 li a {
    .font-size(16);
}





::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000;}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}
